/* Global styles */
*::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 140px;
    --mark-size: calc(var(--cell-size) * .5);
    --shape-size: 460px;
    --winning-blocks-x: #65e9e4;
    --winning-blocks-o: #ffc860;
    
    /* colors */
    --clr-lightBlue: 178 60% 48%;
    --clr-lightBlueHover: 178 75% 65%;
    --clr-orange: 39 88% 58%;
    --clr-orangeHover: 39 100% 69%;
    --clr-darkNavy: 202 32% 15%;
    --clr-navy: 199 35% 19%;
    --clr-silver: 198 23% 72%;
    --clr-silverHover: 197 33% 89%;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

body {
    margin: 0;
    background-color: #1A2A33;
    font-family: 'Outfit', sans-serif;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.gameMenu {
  text-align: center;
}

.icon img {
  margin-bottom: 1.5rem;
}

.big-shape {
  display: flex;
  background-color: hsl(var(--clr-navy));
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-inline: 1.5rem;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
  max-width: 460px;
  box-shadow: inset 0px -8px 0px #10212a;
}

.big-shape h3 {
  font-family: 'Outfit', sans-serif;
  color: #A8BFC9;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0.8rem;
  margin-bottom: 2rem;
}

.big-shape h4 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #A8BFC9;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 1.6rem;
}

.mark-container {
  display: flex;
  width: 412px;
  height: 72px;
  background-color: hsl(var(--clr-darkNavy));
  border-radius: 10px;
  gap: 198px;
  margin-bottom: 1rem;
}

.labels {
  display: block;
  position: relative;
  cursor: pointer;
}

.labels input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 54px;
  width: 198px;
  border-radius: 10px;
  background-color: hsl(var(--clr-darkNavy));
}

.labels:hover input ~ .checkmark {
  background-color: hsla(var(--clr-silver) / 0.05);
}

.labels input:checked ~ .checkmark {
  background-color: hsl(var(--clr-silver));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.labels input:checked ~ .checkmark:after {
  display: block;
}

.labels .checkmark:after {
  width: 0;
  height: 0;
}

.Xsvg,
.Osvg {
  transform: scale(0.5);
  position: relative;
  bottom: 5px;
}

.labels input:checked ~ .checkmark path {
  fill: hsl(var(--clr-darkNavy));
}

.menu button {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  color: #1a2a33;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
}

#solo {
  display: block;
  background: #F2B137;
  box-shadow: 0px 8px 0px #CC8B13;
  border-radius: 15px;
  border: 15px solid #F2B137;
  padding: 0.2em 5.5em 0.2em;
  margin-bottom: 20px;
}

#multiplayer {
  display: block;
  background: #31C3BD;
  box-shadow: 0px 8px 0px #118C87;
  border-radius: 15px;
  border: 15px solid #31C3BD;
  padding: 0.2em 4.6em 0.2em;
}

#solo:hover {
  background: #FFC860;
  box-shadow: 0px 8px 0px #CC8B13;
  border: 15px solid #FFC860;
}

#multiplayer:hover {
  background: #65E9E4;
  box-shadow: 0px 8px 0px #118C87;
  border: 15px solid #65E9E4;
}

#solo:active,
#multiplayer:active {
  transform: translateY(2px);
}
  
/* Game board styles */

.gameBoard {
  display: none;
  z-index: -1;
}

.game-board-header {
  display: flex;
  align-items: center;
  width: 28.75rem;
  margin-top: 8.6875rem;
  margin-bottom: 1.1875rem;
  margin-inline: auto;
  gap: 0;
}

.game-board-header-logo {
  width: 4.5rem;
  height: 2rem;
  margin-right: 5.3125rem;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  background: hsl(var(--clr-navy));
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 10px;
  width: 8.75rem;
  height: 3.25rem;
  margin-right: 6.75rem;
  gap: 13px;
}

#turnText {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 17.64px;
  text-transform: uppercase;
  color: #A8BFC9;
}

.turn p,
.turn img {
  position: relative;
  bottom: 2px;
}

.Xturn {
  height: 1rem;
  width: 1rem;
}

.restart {
  width: 3.25rem;
  height: 3.25rem;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 10px;
  border: none;
  padding-inline: 1rem;
}

.restart:active {
  transform: translateY(2px);
}

.redo {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #A8BFC9;
}

.board {
  display: grid;
  width: 28.75rem;
  margin-inline: auto;
  margin-bottom: 1.25rem;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}
  
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background: #1F3641;
  border: 10px solid #1A2A33;
  border-radius: 20px;
  box-shadow: inset 0px -8px 0px #10212A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.hoverClassX:hover {
  cursor: pointer;
  background: url(./starter-code/assets/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hoverClassO:hover {
  cursor: pointer;
  background: url(./starter-code/assets/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
}
  
/* Scoreboard styles */
.scoreboard {
  width: 28.75rem;
  margin-inline: auto;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell-score {
  width: 8.75rem;
  height: 4.5rem;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 2rem;
}

.your-score {
  background: hsl(var(--clr-lightBlue));
}

.ties {
  background: hsl(var(--clr-silver));
}

.cpu-score {
  background: hsl(var(--clr-orange));
}

.playerName {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: -0.8rem;
  color: hsl(var(--clr-darkNavy));
}

.num {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(var(--clr-darkNavy));
}

.modal {
  display: none;
  position: absolute;
  top: 21.685rem;
  width: 100vw;
  height: 12.25rem;
  background-color: hsl(var(--clr-navy));
  text-align: center;
  padding-top: 2.5rem;
  z-index: 1000;
}

.endGameModal {
  display: none;
  flex-direction: column;
  align-items: center;
}

.endGameModal p {
  position: relative;
  bottom: 1.5rem;
  margin-bottom: 0.1rem;
}

.endGameModal img {
  width: 50px;
  height: 50px;
}

.endGameModal h2 {
  display: flex;
  align-items: center;
  color: hsl(var(--clr-orange));
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  position: relative;
  bottom: 1.8rem;
}

.endGameModal button {
  border: none;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1A2A33;
  font-size: 1rem;
}

.endGameModal button:active {
  transform: translateY(2px);
}

.quitBtn {
  width: 4.75rem;
  height: 3.25rem;
  background-color: hsl(var(--clr-silver));
  box-shadow: inset 0px -4px 0px #6b8997;
  margin-right: 1rem;
}

.quitBtn:hover {
  background-color: hsl(var(--clr-silverHover));
}

.nextBtn {
  width: 9.125rem;
  height: 3.25rem;
  background-color: hsl(var(--clr-orange));
  box-shadow: inset 0px -4px 0px #cc8b13;
}

.nextBtn:hover {
  background-color: hsl(var(--clr-orangeHover));
}

.restartGame {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}

.restartGame p {
  margin-bottom: 1.5rem;
}

.restartGame button {
  height: 3.25rem;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1A2A33;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.restartGame button:active {
  transform: translateY(2px);
}

.cancelBtn {
  width: 8.6875rem;
  margin-right: 1rem;
  background-color: hsl(var(--clr-silver));
  box-shadow: inset 0px -4px 0px #6b8997;
}

.cancelBtn:hover {
  background-color: hsl(var(--clr-silverHover));
}

.restartBtn {
  width: 9.4375rem;
  background-color: hsl(var(--clr-orange));
  box-shadow: inset 0px -4px 0px #cc8b13;
}

.restartBtn:hover {
  background-color: hsl(var(--clr-orangeHover));
}

  
  /* For mobile devices */
@media only screen and (max-width: 600px) {
  :root {
    --cell-size: 80px;
    --mark-size: calc(var(--cell-size) * .7);
    --shape-size: 300px;
  }
  .menu {
    height: 80vh;
  }
  .icon img {
    margin-bottom: 2rem;
  }
  .big-shape {
    max-width: 327px;
  }
  .big-shape h3 {
    font-size: 14px;
  }
  .big-shape h4 {
    font-size: 12px;
    position: relative;
    bottom: 1rem;
  }
  .mark-container {
    width: 280px;
    gap: 132px;
  }
  .checkmark {
    width: 132px;
  }
  .menu button {
    font-size: 1rem;
  }
  #solo {
    padding: 0.2rem 3.8rem;
    margin-top: 1rem;
  }
  #multiplayer {
    padding: 0.2rem 2.86rem;
    margin-top: 0.3rem;
  }
  .game-board-header {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    width: 20.5rem;
  }
  .game-board-header-logo {
    margin-right: 2.875rem;
  }
  .turn {
    border-radius: 5px;
    width: 4rem;
    height: 2.7rem;
    margin-right: 4.625rem;
    justify-content: space-between;
  }
  .restart {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 7px;
    padding-inline: 10.31px;
  }
  .board {
    width: 20.5rem;
  }
  .cell {
    border-radius: 20px;
    width: 6.2rem;
    height: 6.2rem;
  }
  .scoreboard {
    width: 20.5rem;
  }
  .cell-score {
    width: 6rem;
    height: 4.3rem;
    border-radius: 15px;
  }
  .modal {
    top: 14.685rem;
    height: 12.25rem;
  }
  .endGameModal p {
    bottom: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .endGameModal img {
    width: 40px;
    height: 40px;
  }
  .endGameModal h2 {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    bottom: 0.8rem;
  }
  .endGameModal button {
    font-size: 0.9rem;
  }
  .restartGame p {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  .restartGame button {
    font-size: 0.9rem;
  }
}

/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .7);
    --shape-size: 380px;
  }
  .menu {
    height: 65vh;
  }
  .icon img {
    margin-bottom: 1.8rem;
  }
  .big-shape {
    max-width: 460px;
    max-height: 244px;
  }
  .big-shape h4 {
    font-size: 0.8rem;
    position: relative;
    bottom: 1rem;
    font-weight: bold;
  }
  .mark-container {
    width: 412px;
    height: 70px;
  }
  .checkmark {
    width: 190px;
  }
  .menu button {
    font-size: 1.2rem;
  }
  #solo {
    padding: 0.2rem 7rem;
    margin-top: 1rem;
  }
  #multiplayer {
    padding: 0.2rem 5.7rem;
    margin-top: 0.3rem;
  }
  .game-board-header {
    margin-top: 8.6875rem;
  }
  .turn {
    border-radius: 8px;
    width: 6.7rem;
    height: 3.2rem;
    margin-right: 4.625rem;
  }
  .restart {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 7px;
    margin-left: 2.4rem;
  }
  .board {
    width: 28.75rem;
  }
  .cell {
    border-radius: 20px;
    width: 8.75rem;
    height: 8.75rem;
  }
  .scoreboard {
    width: 28.75rem;
  }
  .cell-score {
    width: 8.75rem;
    height: 4.5rem;
    border-radius: 15px;
  }
  .modal {
    top: 19.685rem;
  }
  .endGameModal p {
    bottom: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .endGameModal img {
    width: 50px;
    height: 50px;
  }
  .endGameModal h2 {
    margin-bottom: 1.4rem;
    font-size: 2rem;
    bottom: 1.2rem;
  }
}