*::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 140px;
    --mark-size: calc(var(--cell-size) * .7)
}

body {
    margin: 0;
    background-color: #1A2A33;
    font-family: 'Outfit', sans-serif;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #1F3641;
    border: 10px solid #1A2A33;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: #31C3BD;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    border: 2px solid #31C3BD;
    background: #1F3641;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .25);
    height: var(--mark-size);
    border-radius: 3px;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(135deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-135deg);
}

.cell.circle::before,
.cell.circle::after {
    background-color: #F2B137;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    border: 2px solid #F2B137;
    background: #1F3641;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .4);
    height: calc(var(--mark-size) * .4);
    background-color: #1F3641;
}

.darken {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8)
}

.winning-message {
    position: fixed;
    top: 35%;
    bottom: 35%;
    left: 0;
    right: 0;
    background-color: #1F3641;
}

#small {
    color: #DBE8ED;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big {
    color: #F2B137;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    color: #1a2a33;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#quitBtn {
    background: #a8bfc9;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #6B8997;
    border: 10px solid #a8bfc9;
    margin: 0;
  position: absolute;
  top: 70%;
  left: 39%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#nextRoundBtn {
    background: #F2B137;
    box-shadow: 0px 4px 0px #CC8B13;
    border-radius: 10px;
    border: 10px solid #F2B137;
    margin: 0;
  position: absolute;
  left: 52%;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}