*::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 140px;
    --mark-size: calc(var(--cell-size) * .7);
    --shape-size: 460px;
    --winning-blocks-x: #65e9e4;
    --winning-blocks-o: #ffc860;
}

body {
    margin: 0;
    background-color: #1A2A33;
    font-family: 'Outfit', sans-serif;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.icon {
    margin-bottom: 40px;
    margin-left: 4rem;
}

.icon img {
    width: 20%;
}

.solo-icon {
    position: absolute;
    left: 28.3rem;
    top: 3.9rem;
}

.solo-icon img {
    width: 30%;
}

.turn {
    display: flex;
    width: 140px;
    height: 56px;
    background: #1F3641;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #10212A;
    text-align: center;
    position: absolute;
    left: 44.9%;
    top: 8%;
}

.turn h2 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #A8BFC9;
    padding-left: 10px;
}

.turn #x-alt {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #A8BFC9;
    padding-left: 24px;
    padding-top: 8px;
}

#redo {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 63%;
    top: 8%;
    background: #A8BFC9;
    box-shadow: 0px 4px 0px #6B8997;
    border-radius: 10px;
    cursor: pointer;
}

#redo:hover {
    background: #DBE8ED;
    box-shadow:  0px 4px 0px #6B8997;
    border: 10px solid #DBE8ED;
}

.your-score {
    position: absolute;
    width: 140px;
    height: 72px;
    left: 33%;
    top: 98%;
    background: #31C3BD;
    border-radius: 15px;
}

.tie-score {
    position: absolute;
    width: 140px;
    height: 72px;
    left: 45%;
    top: 98%;
    background: #A8BFC9;
    border-radius: 15px;
}

.cpu-score {
    position: absolute;
    width: 140px;
    height: 72px;
    left: 56.5%;
    top: 98%;
    background: #F2B137;
    border-radius: 15px;
}

#score {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #1A2A33;
}

#num {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 2px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1A2A33;
}

.big-shape {
    width: 460px;
    height: 205px;

    /*width: 34%;
     height: 32%;*/

    background-color: #1F3641;
    border: 10px solid #1A2A33;
    border-radius: 20px;
    box-shadow: inset 0px -8px 0px #10212A;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #A8BFC9;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 0.8rem;
    margin-bottom: 2rem;
}

h4 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 1.6rem;
}

#x-shape {
    background: #1A2A33;
    box-shadow:  0px 0px 0px 8px #1A2A33;
    border-radius: 5px;
    border: 15px solid #1A2A33;
    padding: 1px 70px;
    color: #A8BFC9;
    margin-left: 1.7rem;
    font-size: 40px;
}

#o-shape {
    background: #A8BFC9;
    box-shadow: 0px 0px 0px 8px #1A2A33;
    border-radius: 5px;
    border: 15px solid #A8BFC9;
    padding: 1px 70px;
    font-size: 40px;
}

#x-shape:hover {
    background: #1F3641;
    box-shadow:  0px 0px 0px 8px #1A2A33;
    border: 15px solid #1F3641;
}

.menu button {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    color: #1a2a33;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
}

#solo {
    background: #F2B137;
    box-shadow: 0px 8px 0px #CC8B13;
    border-radius: 15px;
    border: 15px solid #F2B137;
    padding: 0.2em 5.5em 0.2em;
    margin-bottom: 20px;
}

#multiplayer {
    background: #31C3BD;
    box-shadow: 0px 8px 0px #118C87;
    border-radius: 15px;
    border: 15px solid #31C3BD;
    padding: 0.2em 4.6em 0.2em;
}

#solo:hover {
    background: #FFC860;
    box-shadow: 0px 8px 0px #CC8B13;
    border: 15px solid #FFC860;
}

#multiplayer:hover {
    background: #65E9E4;
    box-shadow: 0px 8px 0px #118C87;
    border: 15px solid #65E9E4;
}

.board {
    display: none;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #1F3641;
    border: 10px solid #1A2A33;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: #31C3BD;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    border: 2px solid #31C3BD;
    background: #1F3641;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .25);
    height: var(--mark-size);
    border-radius: 3px;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(135deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-135deg);
}

.cell.circle::before,
.cell.circle::after {
    background-color: #F2B137;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    border: 2px solid #F2B137;
    background: #1F3641;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .4);
    height: calc(var(--mark-size) * .4);
    background-color: #1F3641;
}

.darken {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8)
}

.winning-message {
    display: none;
    position: fixed;
    top: 35%;
    bottom: 35%;
    left: 0;
    right: 0;
    background-color: #1F3641;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#small {
    color: #DBE8ED;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#big {
    color: #F2B137;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.winning-message button {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    color: #1a2a33;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#quitBtn {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;

    background: #a8bfc9;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #6B8997;
    border: 10px solid #a8bfc9;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 41%;
    width: 76px;
    text-transform: uppercase;
    cursor: pointer;
}

#nextRoundBtn {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;

    background: #F2B137;
    box-shadow: 0px 4px 0px #CC8B13;
    border-radius: 10px;
    border: 10px solid #F2B137;
    margin: 0;
    position: absolute;
    left: 48%;
    top: 70%;
    width: 146px;
    text-transform: uppercase;
    cursor: pointer;
}

#nextRoundBtn:hover {
    background: #ffc860;
    box-shadow: 0px 4px 0px #CC8B13;
    border: 10px solid #ffc860;
}

#quitBtn:hover {
    background: #dbe8ed;
    box-shadow: 0px 4px 0px #6B8997;
    border: 10px solid #dbe8ed;
}

.winning-message-2 {
    display: none;
    position: fixed;
    top: 35%;
    bottom: 35%;
    left: 0;
    right: 0;
    background-color: #1F3641;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tie-message {
    display: none;
    position: fixed;
    top: 40%;
    bottom: 30%;
    left: 0;
    right: 0;
    background-color: #1F3641;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restart-message {
    display: none;
    position: fixed;
    top: 40%;
    bottom: 30%;
    left: 0;
    right: 0;
    background-color: #1F3641;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cancelBtn {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;

    background: #a8bfc9;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #6B8997;
    border: 10px solid #a8bfc9;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 38%;
    width: 146px;
    text-transform: uppercase;
    cursor: pointer;
}

#restartBtn {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;

    background: #F2B137;
    box-shadow: 0px 4px 0px #CC8B13;
    border-radius: 10px;
    border: 10px solid #F2B137;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    width: 157px;
    text-transform: uppercase;
    cursor: pointer;
}

#restartBtn:hover {
    background: #ffc860;
    box-shadow: 0px 4px 0px #CC8B13;
    border: 10px solid #ffc860;
}

#cancelBtn:hover {
    background: #dbe8ed;
    box-shadow: 0px 4px 0px #6B8997;
    border: 10px solid #dbe8ed;
}

#big-2 {
    color: #31C3BD;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

#big-3 {
    color: #A8BFC9;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    position: inherit;
    top: 47%;
}

#big-4 {
    color: #A8BFC9;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.board.show {
    display: grid;
}

.winning-message.show {
    display: flex;
}

.darken.show {
    display: flex;
}

.winning-message-2.show {
    display: flex;
}

.tie-message.show {
    display: flex;
}

.restart-message.show {
    display: flex;
}